{# templates/guess_my_number/index.html.twig #}
{% extends 'guess_my_number/layout.html.twig' %}

{% block content %}
    {# <p>Username: {{ app.user.username ?? 'Anonymous user!' }}</p>
    <p>Request method: {{ app.request.method }}</p>
    <p>Application environment: {{ app.environment }}</p> #}
    {# <p>Application session: {{ app.session }}</p> #}

    <br>
    <h2 class="heading-start-guess-my-number">Welcome to the start page of the game Guess my number!!!</h2>

    <p>Push the button Play Guess my number to start playing the guess game.</p>
    <a class="game-button" href="{{ path('guess_my_number_init') }}">
        <button type="button">Play Guess my number</button>
    </a>
{% endblock %}
